				<div class="panel panel-default">
					<div class="panel-heading">Leilões</div>
					<div class="panel-body">
						<div ng-app="app" ng-controller="leilaoListViewController">
							<div class="container-fluid" >
								<div class="row">
									<div id="kendoListView" data-pull-to-refresh="true">
										
									</div>
								</div>
							</div>
							<div class="k-pager-wrap">
								<div id="pager">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<script type="text/x-kendo-temp" id="template">					
					<div class="panel panel-default" style="width: 48%; float: left; margin: 10px;">
						<div class="panel-heading">
							<h3 class="panel-title" style="font-weight: 600;">
								Leilão ID #:id#
							</h3>
						</div>
						<div class="panel-body">
							<p><h5><strong>Razão Social: </strong>#:razaoSocial#</h5></p>
							<p><h5><strong>Data de Início Previsto: </strong>#= kendo.toString(kendo.parseDate(inicioPrevisto), 'dd/MM/yyyy hh:mm') #</h5></p>
							<p><h5><strong>Total do Leilão: </strong>R$ #:total#</h5></p>
						</div>
					</div>
				</script>